body{
    font-family: 'Work Sans', sans-serif;
    color: var(--#3C354F);
}


nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 140px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding-left: 13px;


}
.logo-title{
    display: flex;
    font-size: 2.8rem;
    gap: 20px;
    align-items: center; 
}
span{
    color: #FF42A5;
}
.logo-title img{
height: 40px;
width: 86px;
}
nav>ul{
    display: flex;
    list-style: none;
    padding-right: 15px;
    align-items: center;
    
}
nav li{
    margin-left: 30px;
}
#nav-text a{
    color:#555161;
    text-decoration: none;  
}
.nav-btn{
    border-radius: 8px;
    border: none;
    width: 240px;
    height: 56px;
    font-size: 1.1rem;
}
/* end nav */



/* start banner */

.Play-like-the{
    display: flex;
    align-items: center;
    margin: 0px 140px;
    
    
}
.banner-img img{
    width: 441px;
    height: 391px;
    padding-left: 71px;
    
}
.banner-description{
    padding: 64px 30px;
    background-image:url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    height: 530px;
    width: 500px;
    background-size: 100%;
    text-align: center;
    max-height: 303px;
    justify-content: center;
    

}
.banner-description h3{
    font-size: 2.5rem;
    display: inline;
}
.banner-description h1{
    font-size: 4.5rem;
    display: inline;
}
.banner-description p{
    padding-bottom: 10px;
    text-align: left;
    padding-left: 112px;
    line-height: 0%;
}
.banner-description img{
    
    display: inline;
}
.shared-button{
    border-radius: 40px;
    background: #FF42A5;
    color: #fff;
    border: none;
    padding: 21px 40px;
}
.shared-button2{
    border-radius: 40px;
    background: #4EC5F7;
    color: #fff;
    border: none;
    padding: 21px 40px;
}
.shared-button2:hover{
    color: #58ff42;
    background: #FF42A5;
}
/* end play like the  */

/* start online games */
.section-title{
    text-align: center;
}
.online-game{
    color: #ff0cff;
}
.game-section{
    position: relative;
    display: flex;
    gap: 2%;
    max-width: 1024px;
    align-items: center;
    justify-content: center;
    margin-left: 187px;
    margin-bottom: 60px;
}


.image----3{
    display: block;
    width: 100%;
    

}
.img--overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 235px;
    height: 100%;
    background: rgb(2, 2, 2);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 15px;
    border: 3px solid #fa1d00;
    transition: 2s;
}
.img--overlay:hover{
    opacity: 0.5;

}







 /* start play isntatnly  */

 .play-instant-section{
    display: flex;
    justify-content: space-around;
    gap: 7%;
    max-height: 750px;
 }
 .play-instantly-img{
    padding-left: 100px;
 }
 .little-img{
    position: relative;
    bottom: 266px;
    right: 112px;
 }
 .big-img{
    width: 561px;
    height: 546px;
   
    padding-right: 120px;
 }
 .play-instantly-text{
    text-align: center;
    padding-top: 180px;
   justify-content: center;
  
   
   margin-left: 68px;
 }
 .big-text{
    font-size: 40px;
    font-weight: 700;
    display: inline;
    
 }
 .text-color{
    color: #FF42A5;
    
 }
 .pera{
    color: #534C64;
    
    font-size: 18px;
    font-weight: 400;
 }
 /* end playinstantly */

 .last-banner{
   
    width: 100%;
    height: 300px;
    background: #f7f2f4;
    
 }
 .btn-contant{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  
    align-items: center;
    padding: 31px 172px;
 }
 
 .btn-img{
    height: 65px;
    width: 180px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    border: 1px solid transparent;
    
 }
 .btn-img:hover{
    border: 1px solid rgb(255, 208, 0);
    border-radius: 30px;
    color: #e473a0;
    

 }




 /* start footer */
 .footer-banner{
    width: 100%;
    height: 500px;
    background: #0B0223;
 }
 .footer-titlew{
    display: flex;
    color: #fff;
    gap:20px;
    font-size: 2.8rem;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    
 }
.footer-logo{
    width: 86px;
    height: 40px;
}
.list-contant{
    display: flex;
    color: #fff;
    justify-content: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
li a{
    color: #fff;
    
}

.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.list-contant{
    display: flex;
    padding-top: 15px;
    gap: 30px;
}
.list-contant a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
   
}
.footer-copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
}



@media screen and (max-width:576px) {
    nav, 
    ul ,
    .Play-like-the ,.play-instant-section ,
    .game-section, 
    .play-instant-section{
        flex-direction: column;
        align-items: center; 
        box-shadow: none;  
       
    }
    .btn-contant{
        display: grid;
        grid-template-columns: repeat(3 1fr);
    }
    .footer-banner{
        width: 100%;
        height: 150px;
       
     }
    .big-img{
        
        width: 400px;

        height: 400px;
        /* margin-right: 130px; */
        padding-right: 10px;
     }
     .little-img{
        position: relative;
        bottom: 165px;
        right: 56px;
        width:300px;
        height: 200px;
     }

    .play-instant-section{
        margin-left: 50px;
    }
    .Play-like-the{
       justify-content: center;
    }
    .banner-description{
        margin-left: 10px;
    }
    ul{
        flex-wrap: wrap;
        gap: 25px;
        text-align: center;
    }
    .last-banner{
        max-width: 500px;
    }
    
}
@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        align-items: center;
        box-shadow: none; 
    }
    .Play-like-the{
        flex-direction: column;
    }
    
    ul{
        flex-direction: column;
        align-items: center;  
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 20px;
    }
    

    
}